[submodule "browser"]
	path = browser
	url = git@github.com:NetsBlox/Snap--Build-Your-Own-Blocks.git
[submodule "cloud"]
	path = cloud
	url = git@github.com:NetsBlox/cloud.git
[submodule "services"]
	path = services
	url = git@github.com:NetsBlox/services.git
