---
version: "3"
services:
  cloud:  # Basic account management, network overlay, etc
    restart: always
    image: netsblox/cloud:latest
    volumes:
        - ${PWD}/cloudConfig.toml:/config/default.toml
    ports:
        - "8080:8080"
    depends_on:
        - mongo
        - minio

  services:  # NetsBlox RPCs
    restart: always
    image: netsblox/services:latest
    ports:
        - "8081:8081"
    environment:
        - "NETSBLOX_CLOUD=http://cloud:8080"
        - "NETSBLOX_CLOUD_ID=NetsBloxServices"
        - "NETSBLOX_CLOUD_SECRET=PUT_SECRET_HERE"
        - "PORT=8081"
        - "MONGO_URI=mongodb://mongo:27017"
    depends_on:
        - cloud

  browser:  # Hosts the client files
    restart: always
    image: netsblox/browser:latest
    ports:
        - "2000:2000"
    environment:
        - "CLOUD_URL=https://cloud.netsblox.org"
        - "PORT=2000"
    depends_on:
        - cloud

  mongo:  # Database for users, groups, project metadata, etc
    restart: always
    image: mongo:5.0-focal
    volumes:
        - mongodb_data:/data/db

  minio:  # Blob storage for project contents (media, etc)
    restart: always
    image: minio/minio:RELEASE.2022-11-11T03-44-20Z
    command: server /mnt/data
    ports:
        - "9000:9000"
    environment:
        - "MINIO_ACCESS_KEY=KEY"
        - "MINIO_SECRET_KEY=MYSECRET"
    volumes:
        - s3_data:/mnt/data

volumes:
    s3_data:
    mongodb_data:
