<!DOCTYPE html>
<html lang="en">
<body>
<div id="amazon-root"></div>
<script type="text/javascript">
    window.onAmazonLoginReady = function() {
        amazon.Login.setClientId('<%= env.ALEXA_CLIENT_ID %>');
    };
    (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://assets.loginwithamazon.com/sdk/na/login1.js';
        d.getElementById('amazon-root').appendChild(a);
    })(document);
</script>
<a id="LoginWithAmazon">
    <img border="0" alt="Login with Amazon"
         src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
         width="156" height="32" />
</a>
<script type="text/javascript">
    document.getElementById('LoginWithAmazon').onclick = function() {
        options = {
            scope: 'profile',
            response_type: 'code',
            redirect_uri: 'https://alexa.netsblox.org/services/routes/alexa/tokens'
        };
        amazon.Login.authorize(options, function(response) {
            if ( response.error ) {
                alert('oauth error ' + response.error);
                return;
            }
            console.log(response);
            sendResponse(response);
            return;
        });
    };

    async function sendResponse(response) {
        if (response) {
            await fetch("https://alexa.netsblox.org/services/routes/alexa/tokens", {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: response
            });
        }
    }

</script>
</body>
</html>
