<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Allow NetsBlox Access?</title>
    </head>
    <body>
        <img style="display: block; margin: auto;" class="img logo img-responsive" height="60px" src="/api/v2/oauth/netsblox_logo.png" alt="NetsBlox"></img>

        <div style="height: 20%"></div>
        <div class="row">
            <div class="col s6 offset-s3">
                <p class="flow-text center-align"><span class="client"><%= client.name %></span> wants to access your NetsBlox account</p>
                <p class="username"><%= username %></p>
                <p class="flow-text center-align">This will allow <span class="client"><%= client.name %></span> to:</p>
                <table>
                <% scopes.forEach(scope => { %>
                    <tr><td class="scope"><%= scope %></td></tr>
                <% }); %>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <form id="allow" action="/api/v2/oauth/code" method="post"></form>
                <a id="denyButton" class="waves-effect waves-light btn grey">Deny</a>
                <a id="allowButton" class="waves-effect waves-light btn">Allow</a>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="/api/v2/oauth/auth.js"></script>
        <style>
            .client {
                color: blue;
            }

            .username {
                font-size: 1.5em;
                text-align: center;
            }

            .scope {
                font-size: 1em;
                font-style: italic;
                text-align: center;
                color: #37474f;
            }
            @media only screen and (min-width: 750px){
                .scope {
                    font-size: 1.25em;
                }
            }
        </style>
<html/>
